.solid-logo {
    img{
        width: 600px;
        margin-left: 55%;
        margin-top: 8%;
        justify-content: center;
       
    }
    }

@media (max-width:720px) {

        .solid-logo {
           
           
           
           
            
          

        img{
            width: 400px;
            margin-top: 90%;
            margin-left: -5%;
            justify-content: center;
        }
        }
    
    }

